///
/// If the passed value `$value` is equal to `false` and no exception has
/// been thrown, throw a new `unknown_error` Exception. If an Exception has
/// been thrown, returns `false. Otherwise, returns `$value.
///
/// @group API
///
/// @param {*} $value - Value to check.
/// @param {ArgList} $args... [()] - Arguments used to create an Exception. See `@function sass-errors-new`.
///
/// @return {* | False} - The given value, or `false` if an exception has been thrown.
///
/// @example scss - A non-false value is returned
///   @function my-function-with-value() {
///     @return 'simple_value';
///   }
///
///   $ret: sass-errors-try(my-function-with-value());
///   // 'simple value'
///   $e: sass-errors-catch();
///   // null
///
/// @example scss - `false` is returned
///   @function my-function-with-false() {
///     @return false;
///   }
///
///   $ret: sass-errors-try(my-function-with-false());
///   // false
///   $e: sass-errors-catch();
///   // 'unknown_error' Exception
///
/// @example scss - Setting the Exception to be throw when `false` is returned
///   @function my-function-with-false() {
///     @return false;
///   }
///
///   $ret: sass-errors-try(
///     my-function-with-false(),
///     'My function failed',
///     'my_function_failed'
///   );
///   // false
///   $e: sass-errors-catch();
///   // 'my_function_failed' Exception
///
/// @example scss - An Exception is thrown
///   @function my-function-with-exception() {
///     @return sass-errors-throw('Error', 'my_error_type');
///   }
///
///   $ret: sass-errors-try(my-function-with-exception());
///   // false
///   $e: sass-errors-catch();
///   // 'my_error_type' Exception
///

@function sass-errors-try($value, $args...) {

  $e: $-sass-errors-exception;
  @if $e != null {
    @return false;
  }

  @if $value == false {
    @if length($args) == 0 and length(keywords($args)) == 0 {
      $args: (
        error: 'Unknown error. Expected given $value to not be false.',
        type: 'unknown_error'
      );
    }
    @return sass-errors-throw($args...);
  }

  @return $value;
}
