
@function sass-errors-try-catch(
  $try_func_name,
  $try_func_args: (),
  $catch_func_name: null,
  $catch_func_args: (),
  $types: ()
) {
  $res: sass-errors-try($try_func_name, $try_func_args);
  $e: sass-errors-catch($types...);

  @if $e and $catch_func_name {
    $_: call($catch_func_name, $e, $catch_func_args...);
  }
  @return $res;
}
