
@function serr-throw(
  $obj: null,
  $message: null,
  $status: null,
  $datas: (),
  $options: ()
) {
  $options: map-merge($-serr-default-options, $options);
  $opt_prefix:      map-get($options, 'prefix');
  $opt_throw:       map-get($options, 'throw');
  $opt_throw_type:  map-get($options, 'throw_type');
  $opt_log:         map-get($options, 'log');

  @if $obj == null {
    $obj: serr-obj($options);
  }
  $full_msg: '';

  @if $opt_log or $opt_throw {
    $full_msg: serr-message($message, $opt_prefix);
  }

  @if $opt_throw {
    $_: -serr-throw-error($full_msg, $opt_throw_type);
  }

  @if $opt_log {
    $obj: append($obj, (
      full_message: $full_msg,
      message: $message,
      status: $status,
      datas: $datas
    ));
  }
  @else {
    $obj: false;
  }

  @return $obj;
}

@function -serr-throw-error($msg, $type: 'error') {
  @if $type == 'error' {
    @error $msg;
  }
  @else if $type == 'warn' {
    @warn $msg;
  }
  @else if $type == 'debug' {
    @debug $msg;
  }

  @return null;
}
