@include test('sass-errors-init') {

  $_: sass-errors-init();
  @include assert-equal(variable-exists('-sass-errors-exception'), true,
    'Should set required variables');
  @include assert-equal($-sass-errors-exception, null,
    'Should set required variables');

  $_: sass-errors-init('_prefix_1');
  @include assert-equal(variable-exists('-sass-errors-prefix'), true,
    'Should set default prefix');
  @include assert-equal($-sass-errors-prefix, '_prefix_1',
    'Should set default prefix');

  $_: sass-errors-init();
  @include assert-equal($-sass-errors-prefix, null,
    'Should reset default prefix');

}
